

<div class="col-sm-12">

<app-header></app-header>

</div>

<div class="col-sm-12">
    <mat-sidenav-container>
        <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="true" fixedTopGap="64">
            <mat-nav-list class="nav-list d-flex justify-content-center">
                <a mat-list-item routerLink="/">
                    <i class="material-icons">
                        home
                    </i>
                    Início
                </a>
                
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="content">

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>


<app-footer></app-footer>