<div class="signin-content animated fadeIn">
    <mat-card>
      <mat-card-content>
        <img src="./../../../../assets/logo.png" width="200px" onmousedown="return false;">
        <form [formGroup]="formUser" (ngSubmit)="salvarUsuario()">

          <mat-form-field class="full-width-input">
            <input id="email" matInput type="text" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="formUser.controls.email.invalid">Campo requerido e deve ser um email válido</mat-error>

          </mat-form-field>
  
          <mat-form-field class="full-width-input separate">
            <input id="senha" matInput type="password" placeholder="Senha" formControlName="senha" required>
            <mat-error *ngIf="formUser.controls.senha.invalid">Campo requerido e mínimo de 6 caracteres</mat-error>

          </mat-form-field>
  
          <!-- <button mat-raised-button color="primary" type="submit" style="width: 100%;" [disabled]="form.invalid || isLogin"> -->
        <button id="loginButton" mat-raised-button color="primary" type="submit" style="width: 100%;">
            Login
            <!-- <div *ngIf="isLogin; else loginText">Loading ...</div> -->
          </button>
          <button [routerLink]="['/criar-conta']" mat-raised-button color="secondary" type="submit" style="width: 100%;">
            Criar conta
            <!-- <div *ngIf="isLogin; else loginText">Loading ...</div> -->
          </button>
        </form>
  
        <ng-template #loginText>
          Login
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  