
<mat-toolbar class="header">

    <div class="row">

            <div class="col-xs-12 col-sm-2 col-lg-2">
                <a routerLink="/">
                    <img class="logo" src="./../../../../assets/logo.png" alt="logo">
                </a>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <a>
                    FRONTEND - Teste Técnico
                </a>
            </div>
            <div class="col-xs-12 col-sm-2 col-lg-2">
                <button mat-raised-button color="secondary" (click)="logout()">Logout</button>
            </div>
        
        
    </div>

</mat-toolbar>
