button {
    margin-bottom: 30px;
}

.topbar {
    display: flex;
    margin: 10px 0;
}

.topbar form  {
    margin: 10px 20px;
    display: flex;
}

.topbar mat-form-field {
    top: -16px !important;
}

@media screen and (max-width: 768px) {

    .topbar {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        margin: 10px 0 !important;
    }
}

