<div class="row d-flex">

    <div class="col-md-12 col-lg-4 col-xl-3">
        <img src="./../../../../assets/book.png" alt="Livro">
    </div>

    <div class="col-md-12 col-lg-6 my-4">

    <div><strong>Nome do Livro:</strong> {{livro.nome}}</div>
    <br>
    <div><strong>Autor:</strong> {{livro.autor}}</div>
    <br>
    <div><strong>N Páginas:</strong> {{livro.paginas}}</div>
    <br>
    <div><strong>Sinopse:</strong></div>
    <div *ngFor="let paragrafo of sinopse; let i = index">
        <p>{{paragrafo}}</p>
    </div>

    </div>
</div>

<br>

<div class="row">


<div class="col-10">
<mat-card class="home mat-elevation-z3">
    <div>
        <button mat-raised-button color="primary"
        *ngIf="livro.alugado === false; else elseButton"
        (click) = "alugarLivro()">
        Alugar
        </button>
        <ng-template #elseButton><button  mat-raised-button disabled>Alugado</button></ng-template>
    
    </div>
    <form [formGroup]="formEdit" (ngSubmit)="updateLivro()" *ngIf="livro.alugado === false">
        <mat-form-field>
            <input matInput placeholder="Nome do Livro" 
            formControlName="nome"
            [(ngModel)]="livro.nome"
            name="nome"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor"
            formControlName="autor"
            [(ngModel)]="livro.autor"
            name="autor"
            >
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="N Páginas"
            formControlName="paginas"
            [(ngModel)]="livro.paginas"
            name="paginas"
            >
        </mat-form-field> 


        <mat-form-field>
            <textarea matInput rows="10" placeholder="Insira aqui a nova sinopse do livro" formControlName="sinopse" name="sinopse"></textarea>
        </mat-form-field> 

        <div>
            <button *ngIf="livro.alugado === false" mat-raised-button>
                Editar
            </button>

            <button *ngIf="livro.alugado === false" mat-raised-button (click)="deleteLivro()">
                Deletar
            </button>
        
            <button mat-raised-button (click)="voltar()" class="btn btn-secondary">
                Voltar
            </button>

        </div>


    </form>


</mat-card>

</div>


</div>



