form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin-right: 15px;
}

img {
    width: 100%;
}

.row {
    padding: 0 20px;
}


@media screen and (max-width: 768px) {
    button {
        margin: 10px;
    }

    .details {
        text-align: left;
    }
}